@import "./Base/var";
@import "./Base/mixin";
@import "./Base/placeholder";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include montserrat(normal);
}

h1 {
  @include fontSize(110);
}

h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 5%;
  height: 3px;
  background-color: $white;
}

h3 {
  @include kaushan(normal);
}

h4 {
  color: $dark;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $linearColor;
  border-radius: 10px;
}

.scroll__Top {
  z-index: 100;
  bottom: 10px;
  right: 20px;
  background: $linearColor;
  width: 50px;
  border-radius: 6px;
  cursor: pointer;
  display: none;

  &.show {
    display: block;
  }

  img {
    transition: $transition;
  }

  &:hover img {
    transform: translateY(-5px);
  }
}

// ============== START HOME SECTION ================
#home {
  background: url(/assests/images/bg-header.jpg);
  background-size: cover;
  background-position: center;

  .btn {
    border-radius: 0;
    margin-top: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $linearColor;
  }

  .navbar {
    z-index: 100;

    &.nav-transparent {
      background-color: transparent;
    }

    &.nav-colored {
      background-color: $navColor;
    }

    .nav-link,
    .show > .nav-link,
    .navbar-brand,
    .navbar-toggler {
      color: $white;

      &:hover {
        color: $yellow;
      }
    }

    .navbar-toggler {
      border-color: $white;

      .navbar-toggler-icon {
        filter: invert(100%);
      }
    }

    .nav-link.active,
    .show > .nav-link {
      color: $yellow;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5px;
        background-color: $yellow;
        height: 2px;
        width: 50%;
      }
    }
  }

  .carousel-indicators [data-bs-target] {
    text-indent: 0;
    border: 0;
    margin-right: 20px;

    &.active {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100%;
        background-color: $lineColor;
      }
    }
  }
}
// ============== END HOME SECTION ================

// ============== START ABOUT US SECTION ================
.backgroundColor {
  background-color: $mainColor;

  .box {
    position: relative;
    transition: $transition;

    img {
      width: 100%;
    }

    .overlay {
      background: $linearColor;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: $transition;
    }

    &:hover {
      top: -10px;
      left: -10px;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
// ============== END ABOUT US SECTION ================

// =========== START NUMBER SECTION =================
.numbers {
  background-color: $mainColor;

  .number {
    p:nth-child(1) {
      @include fontSize(65);
    }
  }
}
// =========== END NUMBER SECTION =================

// =========== START AMZAING SERVICES  SECTION =================
.works {
  p {
    @include fontSize(12);
  }
}
// =========== END AMZAING SERVICES SECTION =================

// =========== END unique Design SECTION =================
.unique__Design {
  background-image: url(/assests/images/unique-design/bg-unique-design.jpg);
  background-position: center;
  background-size: cover;

  .phone__img {
    bottom: -10%;
    left: 60%;
  }
}
// =========== END unique Design SECTION =================

// =========== START SERVICE SECTION =================
.service {
  .accordion-body {
    max-height: 150px;
    overflow-y: scroll;
    @include fontSize(14);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $mainColor;
    }
  }

  .accordion-button {
    @include fontSize(14);
  }
}
// =========== END SERVICE SECTION =================

// ===========  START TESTIMONIALS SECTION ==============
.testimonials {
  background-color: $grey__bg;

  img {
    width: 150px;
  }

  .content {
    q {
      font-weight: 300;
    }

    p {
      @include kaushan(normal);

      &::before {
        content: "";
        position: absolute;
        left: 0%;
        top: 50%;
        width: 35px;
        height: 2px;
        background-color: $lineColor;
      }
    }
  }
}
// =========== END TESTIMONIALS SECTION =================

// =========== START TEAM SECTION =================
.team {
  .info {
    .title {
      @include fontSize(13);
    }
  }

  .icon__container {
    i {
      background-color: $yellow;
      color: $navColor;
      transition: $transition;

      &:hover {
        color: $white;
        background-color: $navColor;
      }
    }
  }
}
// =========== END TEAM SECTION =================

// =========== START brands SECTION =================
.brands {
  background-color: $grey__bg;

  img {
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px);
    }
  }
}
// =========== END brands SECTION =================

// =========== START WORK EXAMPLES SECTION =================
#ourWork {
  .overLay {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background: $linearColor;
      transition: $transition;
    }

    .content {
      z-index: 10;
      opacity: 0;
      transition: $transition;

      span {
        @include fontSize(12);
      }
    }

    &:hover::after,
    &:hover .content {
      opacity: 1;
      width: 100%;
    }
  }

  .wrapp {
    img {
      width: 150px;
    }
  }

  .carousel__Content {
    q {
      font-weight: 300;
    }

    p {
      @include kaushan(normal);

      &::before {
        content: "";
        position: absolute;
        left: 0%;
        top: 50%;
        width: 35px;
        height: 2px;
        background-color: $lineColor;
      }
    }
  }
}
// =========== END WORK EXAMPLES SECTION =================

// =========== STARRT HAPPY CLIENTS SECTION =================
.happy__clients {
  background-image: url(/assests/images/happy-client/bg-happy-client.jpg);
  background-position: center;
  background-size: cover;

  .img__container {
    width: 100px;
  }

  .content__container {
    p {
      color: $grey;

      &.job::after {
        content: "";
        position: absolute;
        left: 0%;
        bottom: -50%;
        width: 50px;
        height: 2px;
        background-color: $lineColor;
      }
    }
  }
}
// =========== END HAPPY CLIENTS SECTION =================

// =========== END BLOG SECTION =================
#blog {
  .date {
    background-color: $mainColor;
    left: -3%;
    bottom: 5%;
    padding: 10px 20px;
  }

  .info {
    @include fontSize(13);
    border-bottom: 1px solid $grey;
  }

  h5,
  i {
    color: $mainColor;
  }
}
// =========== END BLOG SECTION =================

// =========== START MAP SECTION =================
.map {
  background-image: url(/assests/images/map/bg-map.jpg);
  background-position: center;
  background-size: cover;

  h2,
  i {
    color: $lineColor;
  }

  h2 {
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 2px;
      background-color: $lineColor;
    }
  }

  iframe {
    display: none;

    &.show__map {
      display: inline;
    }
  }
}
// =========== END MAP SECTION =================

// =========== START FOOTER SECTION =================
.footer {
  i {
    color: $mainColor;
  }

  #button-addon2 {
    background-color: $mainColor;
  }

  h6 {
    color: #2ec06c;
    @include fontSize(12);
  }

  .image__container {
    img {
      transition: $transition;
      cursor: pointer;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  span {
    color: $mainColor;
  }
}
// =========== END FOOTER SECTION =================

// ============ START RESPONSEIVE ===============
@include responsive(lg) {
  .wrapp {
    flex-direction: column;
  }
}

@include responsive(sm) {
  h1 {
    @include fontSize(50);
  }

  .phone__img {
    display: none;
  }

  #ourWork,
  .footer {
    width: 95%;
    margin: 0 auto;
  }
}
// ============= END RESPONSEIVE ================
