$fontSize: 16;
$linearColor: linear-gradient(
  to bottom,
  rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9)
);
$lineColor: #f38181;
$mainColor: #95e1d3;
$dark: #333;
$grey: #999;
$white: #fff;
$grey__bg : #f8f8f8;
$yellow : #f7cf86;
$navColor: rgba(241, 114, 114, 0.96);
$transition: all 0.3s ease-in-out;

